* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MontSerrat Regular", Sans-serif;
}
@font-face {
  font-family: "MontSerrat Regular";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontSerrat SemiBold";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MontSerrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
a{
  text-decoration: none;
  outline: none;
}
ul, li{
  list-style: none;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;

}
h4{
  font-weight: 600;
}

header {
  width: 80%;
  margin: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  // background-color: rebeccapurple;
}
section{
  width: 80%;
  margin: auto;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: rebeccapurple;
}
main{
  width: 80%;
  margin: auto;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: rebeccapurple;
}
@media screen and (min-width: 320px) and (max-width: 540px){
  header {
    margin-bottom: 0;
    max-height: 260px;
  }
  .Foto-Capa{
    width: 100px;
    height: 800px;
  }
  .titles{
    text-align: center;
    .title{
      font: normal normal 600 25px/30px Montserrat;
    }
    .subtitle{
      font: normal normal normal 13px/16px Montserrat;
    }
  }
  .Capa {
    display: flex;
      justify-content: center;
      margin: 5% 25px -30px 0px !important;
      width: 100%;
      height: 160px;
      border-radius: 5px;
    .Foto-Capa {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
    .imgPerfil{
      border-radius: 100%;
      border: 5px solid #FFF;
      position: absolute;
      width: 100px !important; 
      height: 100px !important;
    }
  }
}
@media screen and (min-width: 541px) and (max-width: 768px){
  header {
    margin-bottom: 0;
    max-height: 285px;
  }
  .Capa {
    display: flex;
      justify-content: center;
      margin: 5% 25px -30px 0px !important;
      width: 100%;
      height: 160px;
      border-radius: 5px;
    .Foto-Capa {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
    .imgPerfil{
      border-radius: 100%;
      border: 5px solid #FFF;
      position: absolute;
      width: 100px !important; 
      height: 100px !important;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  header {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1330px){
  header {
    height: 288px;
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media screen and (min-width: 1330px) and (max-width: 1440px){
  header {
    height: 300px;
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1560px){
  header {
    height: 340px;
    margin-bottom: 0;
    max-height: 1000px;
  }
}
@media screen and (min-width: 1640px) and (max-width: 1920px){
  header {
    height: 350px;
    margin-bottom: 0;
    max-height: 1000px;
  }
  
}
@media screen and (min-width: 1921px) and (max-width: 2560px){
  header {
    height: 400px;
    margin-bottom: 0;
    max-height: 1000px;
  }
  
}
