body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #292c34;
    color: #e2e4e9;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container-pai {
    background-image: url("../public/assets/Background_Intro.png");
    background-size: 100%;
    background-repeat: no-repeat;
    // background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .header-container-filho {
        margin-bottom: 15rem;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5% 0% 5% 0%;
    flex-direction: column;
    .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        .profile-img-container {
            position: relative;
            display: inline-block;
        }
        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 3px solid #e3646e;
        }
        .profile-icon-container {
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 25px;
            height: 50px;
            .profile-icon {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .profile-name {
            font-family: "Inconsolata", monospace;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 120%;
            font-weight: normal;
            display: flex;
            .name {
                color: #e3646e;
                padding: 0px 7px 0px 7px;
            }
        }
        .profile-title {
            margin: auto;
            font-family: "Asap", sans-serif;
            font-size: 52px;
            font-weight: bold;
            line-height: 120%;
        }
    }
}
.set-down-container {
    margin: 0rem 0rem 5rem 0rem;
    .set-down {
        // margin-top: 12rem;
    }
}
.section-container-hero {
    // width: 50vw;
    margin: 0% 15% 0% 15%;
    .description {
        font-family: "Maven Pro", sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        color: #878ea1;
        line-height: 140%;
        font-weight: normal;
    }
}

.stacks-container {
    display: flex;
    justify-content: center; // centraliza horizontalmente
    align-items: center; // alinha verticalmente
    padding: 2rem;
}

.stacks-content {
    display: flex;
    gap: 2rem; // espaçamento entre os stacks
    flex-wrap: wrap; // permite quebrar linha em telas menores (responsivo)
}
.stack-item:hover {
    background-color: #333645;
    cursor: default;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.stack-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #292c34;
    border-radius: 50rem;
    min-width: 7rem;
    height: 2.4rem;
    margin: 3rem 0 0 0;

    p {
        font-family: "Maven Pro", sans-serif;
        font-size: 16px;
        color: #878ea1;
        line-height: 140%;
        font-weight: normal;
        margin-right: 0.7rem;
    }
    svg {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin: 0 1rem 0 1rem;
    }
}
.name {
    color: #e3646e;
    padding: 0px 7px 0px 7px;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
}
.profile-title {
    margin: auto;
    font-family: "Asap", sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 120%;
}
.projects-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projects-list {
    display: flex;
    justify-content: center; // centraliza horizontalmente
    align-items: center; // alinha verticalmente
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem; // espaçamento entre os stacks
}
.project-cont,
.project-link {
    border: solid;
    max-width: 300px;
    height: auto;
    max-height: 275px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #292c34;
    border-color: #292c34;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    box-shadow: #878ea1 0px 0px 2px 0px;
    &:hover {
        cursor: pointer;
        background-color: #333645;
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }
}
.project-img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #e2e4e9;
}

@media (max-width: 768px) {
    header .profile-container .profile-name {
        font-family: "Inconsolata", monospace;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 5rem;
        font-weight: normal;
        display: flex;
        flex-direction: column;
    }
}
